.menu{
  justify-content: end !important;
  align-items: flex-end !important;
    margin-right: 10px !important;
    padding: 1px;
    overflow: hidden;

}
#msg{
  margin-top: 9px;
  margin-bottom: 3px;
  font-size: 20px;
}

#dp{
margin-right: 2rem !important;

}
